--index-url https://pypi.python.org/simple/

-e .

boto==2.39.0
cryptography==2.7
fasteners==0.14.1
idna==2.6
pycparser==2.18
pyopenssl==17.1.0
python-novaclient==14.1.0
python-openstackclient==3.19.0
requests==2.18.4
